# **Author**: Tabish Hamid
# **Date**: 2025-09-27
# **Description**: This file lists all the dependencies required for the project.

streamlit
aiohttp
plotly
pandas
asyncio-throttle
aiohappyeyeballs
aiosignal
altair
annotated-types
anyio
asyncio
attrs
blinker
cachetools
certifi
charset-normalizer
click
colorama
distro
frozenlist
gitdb
GitPython
groq
h11
httpcore
httpx
idna
Jinja2
jsonschema
jsonschema-specifications
MarkupSafe
multidict
narwhals
numpy
packaging
pillow
propcache
protobuf
pyarrow
pydantic
pydantic_core
pydeck
python-dateutil
pytz
PyYAML
referencing
requests
rpds-py
six
smmap
sniffio
tenacity
toml
tornado
typing-inspection
typing_extensions
tzdata
urllib3
watchdog
yarl
